// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;

$gray: #0E0000;

$light-gray: #F4F4F4;
$medium-gray: #595858;
$dark-gray: #302E2E;
$black: #111;
$white: #fff;
$light-brown: #D6C3B8;
$green: #7A9174;
$orange: #ffac81;
