// Import Google fonts

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Nunito+Sans:400,400i,700&display=swap');
// Define fonts for body and headers
// $body-font: "Open Sans", "Helvetica", "sans-serif";
// $headers-font: "Raleway", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1, h3, h5 {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}

h2, h4, body {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: calc(2.5rem + 0.3vw);
  line-height: 130%;
}

h2 {
  font-size: calc(1.75rem + 0.3vw);
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  text-transform: uppercase;
  color: #7A9174;
  font-size: 0.75rem;
}

body {
  font-size: calc(0.8rem + 0.3vw);
  margin: 0;
  color: #302E2E;
  a {
    text-decoration: none;
    color: #302E2E;
  }
  p {
    line-height: calc(1.5rem + 0.3vw);
  }
}
