.environment-box {
  margin-bottom: -120px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 500px;
  padding: 2em;
  background-color: #fff;
  border: 1px solid $light-gray;
  display: grid;
  grid-template-rows: 1fr 1fr auto auto;
}

@media only screen and (max-device-width: 400px) {
.environment-box {
  width: 280px;
}
}

@media only screen and (min-device-width: 1200px) {
 .environment-box {
  margin-bottom: -200px;
 }
 .desktop-flex {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
 }
 .break-on-desktop {
  width: 35vw;
 }
}

.flex-spa-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
