<div id="myNav" class="overlay">
  <div class="overlay-content">
    <%= link_to "Home", root_path %>
    <%= link_to "Search Plants", plants_path %>
    <%= link_to "Plant Doctor", articles_path %>

  </div>
</div>
