<body class="home">


<div class="home-banner">
  <div class="banner-content">
<div></div>

<h1 class="entry-title">Welcome to<br>Plantastic</h1>

<%= form_tag plants_path, method: :get, class: "home-search-form" do %>
    <%= text_field_tag :query,
        params[:query],
        class: "home-search-input",
        placeholder: "Find a plant"
      %>
<% end %>

<%= link_to plants_path, class: 'align-end center' do %>
<button class="btn btn-black">Browse All Plants</button>
<% end %>

</div>
</div>
</body>
