<div class="banner">
  <div class="bg-img-plants"></div>
  <div class="banner-content">

<%= link_to "Log in", new_user_session_path %>
<%= link_to "Sign up", new_user_registration_path %>
<%= link_to "Log out", destroy_user_session_path, method: :delete  %>

<h1>Search for a plant</h1>

<%= link_to plants_path do %>
<button class="btn btn-black">Browse</button>
<% end %>

</div>
</div>
