<h1>Top tips to plan your plant routine</h1>

<h3>General guidelines</h3>
<p>Your soil is like a sponge. If your soil is moist to begin with, hold off on watering for now. If water pours out through the drainage holes immediately, your soil is actually bone dry and the soil is repelling water, rather than soaking it in. Avoid pouring water onto bone dry soil. Water will only move through and around the edges of your planter and will not be absorbed by the roots. Your plant should absorb water slowly through its roots so, before you water again, check how dry the soil is. Use your fingers and feel if the soil is wet at least 2 inches below the surface. If so, you can add water.</p>

<h3>Size matters</h3>
<p>Size will determine how much water your plant needs. In smaller pots with less soil, the soil will dry out faster than in larger pots with lots of soil. If you have two of the same plant and one is larger than other, one will need water more often than the other. Tip: For large plants, pour water and let it soak in. Repeat until soil is saturated. Let it dry until watering again.</p>

<h3>Tailor to your plant's needs</h3>
<p>Think of your plants’ natural environment: is it rainy and tropical or hot and dry? Desert-natives like cacti and succulents like to stay dry and will benefit from less water. When you water your cacti, succulents and euphorbs, feel free to give them a soak, but make sure they dry out completely — wait a few weeks (even months) before watering again. Humidity-loving ferns need a good watering once or twice a week.</p>

<h3>Mind the Seasons</h3>
<p>During the summer when the sun is more intense, smaller succulents might need to be watered more regularly, about once every two weeks or so, compared to once a month in off seasons. Ferns and tropical plants should be watered once a week. Make sure the humidity levels stay high during hotter months..</p>

<h3>Overwatering</h3>
<p>We’re inclined to ‘stay hydrated’ but plants can drown if they are flooded with too much water. If soil is left too wet for too long, it can cause root rot. That’s what we call overwatering. Letting your soil dry out before watering is key for plants to receive the the perfect balance of water and oxygen.</p>

<h3>Water temperature</h3>
<p>Most houseplants prefer warm or tepid water over cold water. Warm water absorbs into soil best. Try not to splash water onto your plant’s leaves (unless it’s an orchid, air plant, or a fern, that will appreciate the added humidity). Most tropical plants have waxy leaves because the rainfall in their natural environment (i.e., the rainforest) can be excessive. Waxy leaves helps water slide off and avoids risk of fungal infections. We wish you an enjoyable watering experience for you and your plants.</p>
