.banner {
  height: 100vh;
  color: $white;
  background-size: cover;
  background-position: center;

}

.green-banner {
  background: rgb(224,211,207);
  background: linear-gradient(164.26deg, rgba(122, 145, 116, 0.49) 0%, #7A9174 93.18%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  height: 100vh;
  height: 100vh;
  p {
    background-color: transparent;
  }
}

.bg-img-plants {
  background-image: url('https://source.unsplash.com/bBiuSdck8tU');
  height: 100%;
  z-index: 1;
  filter: blur(4px);
}

.banner-content {
  position: fixed;
  left: 0;
  top: 4rem;
  right: 0;
  z-index: 9999;
  h1, p {
    margin: 0 auto;
    text-align: center;
  }
}
