.home-banner {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(https://i.imgur.com/DsV6yt6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: $white;
  background-size: cover;
  background-position: center;
}

.green-banner {
  background: rgb(224,211,207);
  background: linear-gradient(164.26deg, rgba(122, 145, 116, 0.49) 0%, #7A9174 93.18%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  height: 100vh;
  p {
    background-color: transparent;
  }
}

.banner-content {
  height:100%;
  display: grid;
  grid-template-rows: 20vh 20vh 1fr 5fr;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  h1, h2, p {
    margin: 0 auto;
    text-align: center;
  }
}

.banner-content.sign-up {
  grid-template-rows: 15vh 10vh 4fr 1fr 2fr;
}

.banner-content.login {
  grid-template-rows: 20vh 20vh 9fr 2fr;
}

.banner-content.reset-password {
  grid-template-rows: 20vh 20vh 9fr 1fr 3fr;
}


.login-option {
  justify-self: flex-end;
  display: flex;
  padding: 12px;
  color: $white;
}


