input {
  font-family: 'Merriweather', serif;
  color: $dark-gray;
  font-size: 1em;
}


.transparent-input {
  font-family: 'Merriweather', serif;
  color: $dark-gray;
  font-size: 1em;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  width: 70%;
  padding: 1.5em;
  border-radius: 40px;
  border: none;
  color: $white;
  transition: transform 250ms ease-in-out;
  margin-bottom: 20px;
  &:focus {
     border: 1px solid $white;
     background: none;
     outline: none;
    // padding: 0.75em 0;
    // outline: 0;
    // border: 1px solid transparent;
    // border-bottom: 1px solid $white;
    // border-radius: 0;
    // background:none;
  }
}

.transparent-input::placeholder {
  font-family: 'Merriweather', serif;
  color: $white;
}

.center-form {
  text-align: center;
  width: 100%;
}

@media only screen and (min-device-width: 1200px) {
  .transparent-input {
    width: 40%;
  }
}


















