.header{
  height: 70vh;
}

.empty-header-container {
  height: 10vh;
  padding: 8vh 0;
}

@media only screen and (max-device-width: 1200px) {
  .header-img {
    position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  .header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(90.46deg, rgba(255, 255, 255, 0.3) 0.28%, rgba(255, 255, 255, 0.2) 40.21%, rgba(255, 255, 255, 0) 99.29%);
  }
}


@media only screen and (min-device-width: 1200px) {
  .header {
   align-self: center;
   justify-self: end;
   height: 80vh;
   overflow: hidden;
  }
  .header-img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

}
