.icon {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2em;
  color: $dark-gray;
}


.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.help-icon {
  margin-right: 12px;
  padding: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4)
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $dark-gray;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.icons {
  width: 60px;
}

@media only screen and (max-device-width: 1200px) {
.icons {
  position: absolute;
  z-index: 100;
  top: 30%;
  left: 0.75em;
}
}

.icon-text {
  margin: 0;
  display: none;
}

@media only screen and (min-device-width: 1200px) {
  .icons {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-text: center;
    margin: 0 auto;
  }
  .icon {
    margin-top: 0.5em;
    opacity: 0.6;
  }
  .icon-text {
  margin: 0;
  display: none;
}
}
