.related-content {
  padding: 5% 10vw;
  background-color: rgba(122, 145, 116, 0.1);
  h2 {
    margin-bottom: 5%;
  }
  .card-container {
    width: 100%;
  }
}

.related-content.no-green {
  background-color: $white;
}

.related-content.image-upload {
  padding: 5% 10vw 0 10vw;
}

@media only screen and (max-device-width: 400px) {
  .related-content {
    padding: 5% 10vw 10% 20vw;
  }
}
