.space {
  height: 20px;
}

.align-end {
  align-self: end;
}

.center {
  justify-self: center;
}

.center-text {
  text-align: center;
}

.mini-margin {
  margin-bottom: 8px;
}

.mmb {
  margin-bottom: 1em;
}

.mmt {
  margin-top: 1em;
}

.center-horizontal {
  margin-left: auto;
  margin-right: auto;
}
